/*///////////////////////// Global Styles //////////////////////////////////*/

/* Typography */

h1 {
  font-family: 'helvetica', serif;
  font-weight: 800;
  font-size: 150px;
  color: #fff;
}

h2 {
  font-family: 'Droid Sans Mono', helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #e4dad0;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Droid Sans Mono', helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #cac0b7;
}

h3 span {
  font-size: 11px;
  letter-spacing: 2px;
  color: #a44e56 ;
}

h4 {
  font-family: 'Droid Sans Mono', helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #a44e56;
}

p {
  font-family: 'Droid Sans Mono', helvetica, sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: #242424;
}

p span {
  opacity: 0.0;
}

a {
  font-family: 'Droid Sans Mono', helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #fff !important;
}

ul {
  margin-left: 0;
}
/* Buttons */

.outline-button {
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, 0.0);
  padding-top: 8px;
  padding-bottom: 10px;
}

.outline-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Fullwidth Backgrounds */

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Fullscreen Veritcal Centering Setup */
html, body {
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/*///////////////////////// Sections //////////////////////////////////*/

/* Section Dividers */
.headline {
  height: 100px;
  background-color: #242424;
  padding-top: 30px;
}

/* Hero */
.hero {
  background: url('../img/bg-8.jpg') top right;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
}

.hero p {
  color: #fff;
  margin-bottom: 0;
}

.hero li {
  padding-bottom: 20px;
}

/* Speakers */
.speakers {
  background: #242424;
}

/* Mission */
.section {
  background: #fff;
  padding: 3%;
}

.headline ::after {
  background: #fff;
  margin-left: 0.9375rem;
  width: 50px;
  height: 1px;
}

.description {
  margin-top: 50%;

}

.caption {
  color: #fff;
}

.orbit-bullets {
  display: none;
}

.orbit-timer {
  display: none;
}

.orbit-slides-container img {
  width: 100%;
}
