/*TYPE*/

@font-face {
  font-family: 'graphik-regular';
  src: url(fonts/graphik-regular.otf);
}

@font-face {
  font-family: 'graphik-black';
  src: url(fonts/graphik-black.otf);
}

body {
  font-size: 12px;
  line-height: 32px;
  font-family: graphik-regular, sans-serif;
}

h1 {
  font-family: graphik-black;
  margin-top: 0;
  margin-bottom: 12px;
  color: #fff;
  font-size: 44px;
  line-height: 44px;

}

h2 {
  margin-bottom: 4px;
  color: #7f7f7f;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin-top:0;

}

p {
  font-size: 12px;
  line-height: 20px;
  font-family: graphik-regular, sans-serif;
  margin-top: 0;
  color: #7f7f7f;
}


ul {
  margin: 0;
}

.fullscreen {
    background: #ECE4DC;
    /* background: linear-gradient(
    to right, 
    #333 0%, 
    #333 50%, 
    #222 50%, 
    #222 100%*/
  );
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}


nav > ul {
  list-style-type: none;
  padding-left: 0;
}
nav > ul li {
  display: inline-block;
  float: left;
  margin-right: 1rem;

}

.center {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 80%;
}


a {
  color: #7f7f7f;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}


p a:hover {
  text-decoration: none;
}


.footer {
  margin-top: 20px;
}

.menu a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
}

.side-title {
  margin-top: 30px;
}


/*GRID*/

.row {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float:left;
}
.col:first-child { margin-left: 0; }

.col--8 {
  width: 100%;
}

.col--7 {
    width: 87.3%;
}

.col--6 {
    width: 74.6%;
}

.col--5 {
    width: 61.9%;
}

.col--4 {
    width: 49.2%;
}

.col--3 {
    width: 36.5%;
}

.col--2 {
    width: 23.8%;
}

.col--1 {
    width: 11.1%;
}


/*RESPONSIVE*/

@media only screen and (max-width: 480px) {

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 93%;
}
 
}