ul {
  margin: 0;
}

.main {
  max-width: 530px;
  margin: 0 auto;
}

nav > ul {
  list-style-type: none;
  padding-left: 0;
}
nav > ul li {
  display: inline-block;
  float: left;
  margin-right: 1rem;
}

.row {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.col--8 {
  width: 100%;
}

.col--7 {
    width: 87.3%;
}

.col--6 {
    width: 74.6%;
}

.col--5 {
    width: 61.9%;
}

.col--4 {
    width: 49.2%;
}

.col--3 {
    width: 36.5%;
}

.col--2 {
    width: 23.8%;
}

.col--1 {
    width: 11.1%;
}

body {
  font-size: 18px;
  line-height: 32px;
  font-family: acumin-pro, Helvetica, sans-serif;
  letter-spacing: .1px;
}

h1 {
  margin-top: 0;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;

}

h4 {
  margin: 0;
  color: #000;
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 900;
  line-height: 36px;

}


p {
  font-size: 22px;
  line-height: 36px;
  font-family: acumin-pro, Helvetica, sans-serif;
  letter-spacing: .1px;
  margin-top: 0;
  color: #000;
}


.main-content a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.header {
  margin-top: 40px;
}

.footer {
  margin-top: 12px;
}

.crosshair {
  cursor: crosshair;
}

.menu a {
  color: blue;
  font-size: 16px;
  letter-spacing: .3px;
  font-style: normal;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.side-title {
  margin-top: 30px;
}

.main-content {
  margin-top: 30px;
}

.menu {
  margin-bottom: 60px!important;
}



@media only screen and (max-width: 480px) {
  .col {
      margin: 1% 0 1% 0%;
  }
  .col--1, .col--2, .col--3, .col--4, .col--5, .col--6, .col--7, .col--8 {
      width: 90%; }
  }
  body {
    margin: 20px;
  }
  .header {
    margin-top: 30px;
  }
  .main-content {
    margin-top: 10px;
  }
  .menu a {
  color: blue;
  font-size: 16px;
  letter-spacing: .3px;
  font-style: normal;
  text-decoration: none;
  }
}